#content {
	background-color: #FFF;
	border-radius: 5px;
}
#content .main {
	padding: 20px;
}
#content .sidebar {
	padding: 10px;
}
#content p {
	line-height: 30px;
}
body {
	background-color: #CCC;
}

.well {
	width: 860px;
}

textarea {
	width: 500px;
	min-width: 500px;
	max-height: 500px;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
}
